body {
    background-image: url("https://www.pexels.com/photo/blur-close-up-cutlery-dining-370984/");
    background-color: #9a9a9a;
    font-family: arial helvetica sans-serif;
    font-size: 15px;
    line-height: 1.5;


}