@media only screen and (max-width: 768px) {
    iframe {
        width: 400px;
    }
}

* {
    margin: 0;
    padding: 0;
}

a {
    color: beige;
}

.footer {
    background: rgba(21, 47, 79, 0.6);
    width: 100%;
}

header {

    background: rgba(21, 47, 79, 0.6);
}

h4 {
    color: beige;
}


.footer {
    background: rgba(21, 47, 79, 0.6);
    width: 100%;
}

body {
    background-image: url("../../src/rest.jpeg");
}


.location {
    font-style: italic;
    font-weight: bold;
}