* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    background: url("../../src/rest.jpeg") center center no-repeat fixed;
    background-size: cover;
}
#logo{
    width: 35px;
    height: 30px;
    margin-left: -430px;
}
.footer {
    background: rgba(21, 47, 79, 0.6);
    width: 100%;
}


.teamPic{
    width: 100%;
}

/*.container{*/
/*    padding-bottom: 35px;*/
/*    margin-top: 20px;*/
/*    padding-right: 40px;*/
/*}*/

header {

    background: rgba(21, 47, 79, 0.6);
}
h4 {
    color: beige;
}


.container{
    font-size: 18px;
    font-weight: 100;
    margin-top: 20px;
}

#conta{
    text-align: justify;

}
#p{
    margin-right:35px ;
}
#pp{
    margin-right: 35px;
}


.title{
    padding-top: 20px;
    padding-left: 23px;
    font-size: 60px;
    margin-right:35px ;

}
.title1{
    padding-top: 20px;
    padding-left: 23px;
    letter-spacing: 1px;
}
.footer {
    background: rgba(21, 47, 79, 0.6);
    width: 100%;
}

.location {
    font-style: italic;
    font-weight: bold;
}


.rounded-circle{
    margin-left: 40px;
    width:440px;
    height:420px;
}
