body {
    font-family: 'Raleway', sans-serif;
    background: url("../../src/rest.jpeg") center center no-repeat fixed;
    background-size: cover;
}

.teamPic{
    width: 100%;
}

.container{
    padding-bottom: 35px;
    margin-top: 20px;
    padding-right: 40px;
}

header {

    background: rgba(21, 47, 79, 0.6);
}
h4 {
    color: beige;
}


.container p {
    text-align: justify;
    font-size: 18px;
    font-weight: 100;
    margin-top: 20px;
}
.title{
    padding-top: 20px;
    padding-left: 23px;
    font-size: 60px;
}
.title1{
    padding-top: 20px;
    padding-left: 23px;
    letter-spacing: 1px;
}
.footer {
    background: rgba(21, 47, 79, 0.6);
    width: 100%;
}

.location {
    font-style: italic;
    font-weight: bold;
}

a {
    color: #D6924A;
}

a:hover {
    color: white;
}


.rounded-circle{
    margin-left: 40px;
    width:440px;
    height:420px;
}
